version: '3'

services:

  base:
    build: .
    container_name: build_certs
    environment:
      - MAIN_HOST=${MAIN_HOST}
      - MAIN_ORG=${MAIN_ORG}
    volumes:
      - certificates:/certs

volumes:
  certificates:
    external: true
