version: '3'

services:

  base:
    build: .
    container_name: build_certs
    environment:
      - MAIN_HOST=${MAIN_HOST}
      - MAIN_ORG=${MAIN_ORG}
    volumes:
      - certificates:/certs
    networks:
      - certificate

volumes:
  certificates:
    external: true

networks:
  certificate:
    ipam:
      config:
        - subnet: 172.27.0.0/16
