version: '3'

services:
  certificates:
    image: quay.io/centos/centos:stream8
    container_name: certificates
    command: mkdir -p /certificates && \ 
             cp -r /etc/letsencrypt /certificates
    volumes:
      - certificates:/certificates
    networks:
      - certificate

volumes:
  certificates:
  
networks:
  certificate:
    ipam:
      config:
        - subnet: 172.32.0.0/16
